header {
    text-align: center;
    height: 8rem;
    background-image: url(https://m.media-amazon.com/images/M/MV5BYzdjMDAxZGItMjI2My00ODA1LTlkNzItOWFjMDU5ZDJlYWY3XkEyXkFqcGc@._V1_.jpg);
}

h1 {
    padding-top: 2rem;
}
nav {
    overflow: hidden;
    background-color: rgb(224, 219, 224);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.sort {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}
.dropdownButton {
  overflow: hidden;
  width: 10rem;
  background-color: rgb(224, 219, 224);
  border: none;
  font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
}
.dropdown-content button {
    display: block;
    text-align: center;
    height: 2rem;
    width: 100%;
    background-color: rgb(224, 219, 224);
    border: none;
}

.dropdown-content button:hover {
    cursor: pointer;
    background-color: rgb(181, 175, 181);
}

.dropdown-content button:active {
    background-color: rgb(123, 117, 123);
}

.dropdown:hover .dropdown-content{
    display: block;
    cursor: pointer;
    background-color: rgb(181, 175, 181);
}

/* .dropdown:active .dropdown-content { */
    /* display: none; */
    /* opacity: 0;
    transition: opacity 500ms ease-in-out; */
/* } */

.movie {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid purple;
    padding-bottom: 2rem;
}
.ui-image {
    height: 15rem;
    width: 10rem;
}

.movie-info {
    display: flex;
    margin: 0 2rem;
}

.movie-descr {
    margin-left: 2rem;
}

.popupContainer {
    width: 30rem;
    background-color: rgb(226, 210, 245);
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    position:absolute;
    transition: transform 0.4s, top 0.4s; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* another way to center content*/
    border-radius: 40px;
    font-size: 1rem;
    border: 2px solid purple;
    visibility: hidden;
    animation-name: animatemodal;
    animation-duration: .4s;
    z-index: 15;
}

/* animate appearing popup window */
@keyframes animatewindow {
  from {
    top: -300px;
    opacity:0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
/* .popup {
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 32px;
    background-color: yellow;
    justify-content: center;
    padding: 2rem;
  } */

form {
    width: 80%;
}

div.row {
    display: flex;
    margin-bottom: 2rem;
}

input {
    width: 12rem;
   margin-left: auto;
}

textarea {
    margin-top: 1rem;
    width: 100%;
}

.buttonContainer {
    display: flex;
    margin: 1rem;
    margin-bottom: 0;
    justify-content: space-between;
}
.popupButtons {
    width: 7rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: rgb(237, 196, 255);
    font-size: 1rem;
    border: 2px solid purple;
}

.popupButtons:hover {
    background-color: rgb(202, 122, 238);
}

.popupButtons:active {
    background-color: rgb(186, 87, 232);
}

/* dimming the background when popup is open */
#overlay {
position: fixed; 
display: none; 
width: 100%; 
height: 100%; 
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5); 
backdrop-filter: blur(2px);
z-index: 14; 
cursor: pointer;
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.tag {
    margin-right: 2rem;
    font-weight: bold;
}

#openForm {
    height: 2rem;
    border-radius: 15px;
    width: 10rem;
    margin: 0;
    background-color: rgb(224, 219, 224);
}

