:root {
  --color0: rgb(251, 228, 251);
  --color1: rgb(246, 200, 246);
  --color2: rgb(217, 163, 217);
  --color3: rgb(178, 123, 178);
  --color4: rgb(145, 85, 145);
  --color5: rgb(112, 69, 112);
  --solid-border: 1px solid black;
  --dashed-border: 1px dashed black;
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
}

.sharp {
  border: var(--solid-border);
}

.half {
  border: var(--dashed-border);
}

.sharp td {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}

#legend {
  width: 30%;
  height: 0%;
}
#legend-gradient {
  height: 20px;
  border: var(--solid-border);
  background-image: linear-gradient(
    90deg,
    var(--color0) 0% 17%,
    var(--color1) 17% 34%,
    var(--color2) 34% 50%,
    var(--color3) 50% 67%,
    var(--color4) 67% 83%,
    var(--color5) 83% 100%
  );
}
