body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #FFFFFF;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em;
}
.logo {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.navbar-links ul {
  display: flex ;
}

.navbar-links li, .signs a, .footer-links a {
  list-style: none;
}

.navbar-links li a, .signs a, .footer-links a {
  text-decoration: none;
  color: black;
}

li {
  display: inline-block;
  margin-right: 10px;
}

li:first-of-type {
  background-color: #F5F5F5;
  width: 65px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}

li:last-of-type {
  background-color: #2C2C2C;
  width: 65px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}

li:last-of-type a {
  color: white;
}

.navbar-links li:hover, .footer-links a:hover {
  cursor: pointer;
  background-color: #e0dbdb;
  width: 70px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}

.toggle-button {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

  .navbar-links li a:last-child:hover { /*clap clap clap*/
    color: black;
  } 

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navdiv {
    flex-direction: column;
    align-items: flex-start ;
  }

  .navbar-links {
    display: none; 
    width: 100%;
    align-items: center;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    align-items:center;
  }

  .navbar-links li {
    margin: 0.5rem;
    margin-right: 3rem;
  }

  .navbar-links li:hover {
    cursor: pointer;
    background-color: #e0dbdb;
    width: 100%;
    height: 1.5rem;
    text-align: center;
  }

  .navbar-links li a:last-child:hover { /*clap clap clap*/
    color: black;
  } 

  li:last-of-type { 
    margin-top: 15rem;
  }

  .navbar-links.active {
    display: flex;
  }

/* make hamburger bars turn into X when opened */
  .toggle-button.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg); 
}

.toggle-button.open .bar:nth-child(2) {
  opacity: 0; /
}

.toggle-button.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Large_breaking_wave.jpg") no-repeat center center/cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  border: 1px solid #999894;
  border-radius: 10px;
}

.headers {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 0;
}

.subheading {
  font-size: 1.5em;
  margin: 0;
}

.bookButton {
  background-color: #2C2C2C;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.bookButton:hover {
  background-color: #999894;
  cursor: pointer;
}

.bookButton:active {
  background-color: #78766b;
}

.bluediv {
  background-color: #c5dde0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 30px 0;
  border-radius: 10px;
  flex-wrap: wrap;
}

.squirrelImage {
  height:40vh;
  width: 70vh;
  margin-bottom: 1em;
}

.squirrelsurf {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.descriptionHeadline {
  margin-left: 4em;
}

.subheading {
  margin: 0;
}

.subheading2 {
  color: rgb(108, 106, 106);
  margin-top: 0.5em;
}

.cards {
  display:flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 1rem;
  width: 18rem;
  min-width: 15rem;
  /* height: 18rem; */
  margin-top: 1rem;
}

.description {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* justify-content: first; */
  /* gap: 5em; */
}

.card {
  display: flex;
  flex-direction: column;
}

.infoSign {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* .script::before {
    content: "ⓘ ";
    margin-right: 1em;
} */

.headline {
  margin-top: 2rem;
}
.scriptHeadline {
  margin: 0;
  margin-bottom: 1rem;
}

.script {
  margin: 0;
  width: 15em;
  color: rgb(108, 106, 106);
  /* margin-top: 1em; */
}

/* .script::first-line {
    line-height: 2.5em;
    color: black;
} */

.customer {
  background-color: white;
  border-radius: 10px;
  width: 15em;
  border: solid #999894;
  box-shadow: 0 5px 2px #999894;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
  padding-top: 1rem;
}
.experience {
  margin: 0;
  margin-left: 1em;
}

/* clap clap clap */
.authorContainer {
  display: flex;
  gap: 1em;
  margin-left: 1em;
  align-items: center; 
}

#blueDivCustomer {
  display: block;
  flex-wrap: wrap;
}

.squirrelCustomer {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.customersContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#customerHeadline {
  margin-bottom: 2em;
}

.author {
  color: rgb(168, 164, 164);
}
.author::first-line {
  color: rgb(108, 106, 106);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  margin-top: 2em;
  /* flex-wrap: wrap; */
} 

.location {
  height: 12em;
  width: 15em;
}

.map {
  height: 100%;
  width: 100%;
  object-fit: cover; /*prevents distorsion of the image*/
}

#links {
  line-height: 1.5em;
}

#logo {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 1.5em 0 1em 0;
}

.signs {
  font-size: 1.1em;
  letter-spacing: 0.3em;
}

.signs a {
  display: inline-block;
  margin: 0.2rem;
}

.signs a:hover {
  transform: scale(1.3);
}

/* popup window for booking a class */

.popupContainer {
  width:45vw;
  height: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s; 
  background-color: rgba(255,255,255,0.9);
  border-radius: 30px;
  animation-name: animatewindow;
  animation-duration: .4s;
  z-index: 15;  /* has to be the top most position */
  padding: 2rem;
}

/* animate appearing window */
@keyframes animatewindow {
  from {
    top: -300px;
    opacity:0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
/* style of popup window*/
  .popup {
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 32px;
    opacity: 100%;
    font-family: 'Inria Serif'; /* Font type */
  }

  .popupHeadline {
    margin-left: 2rem;
  }

   .popupButtons {
    display: flex;
    justify-content: space-evenly;
   }

   .buttonPopup {
    width: 10rem;
    height: 2rem;
    border-radius: 8px;
    background-color: rgb(177, 215, 220);
    margin: 2rem 0;
   }

   .buttonPopup:hover {
    cursor: pointer;
    background-color: #93bcc1;
   }

   .buttonPopup:active {
    cursor: pointer;
    background-color: #5b7477;
   }

   .infoForm {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
   }

   form {
    width: 100%;
   }

   .info {
  padding: 10px 0 10px 5px;
}

.info input {
  width: 50%;
  margin-left: auto;
}

#overlay {
position: fixed; 
display: none; 
width: 100%; 
height: 100%; 
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5); 
backdrop-filter: blur(2px);
z-index: 14; 
cursor: pointer;
}

.open-popup {
visibility: visible;
transform: translate(-50%, -50%) scale(1);
}


   /* modal  */

#modal {
  background-color: rgba(255,255,255,0.9);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* another way to center content*/
  width: 55vw;
  height: 80vh;
  padding: 10px;
  border-radius: 40px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  animation-name: animatemodal;
  animation-duration: .4s;
}

#close-btn {
  cursor: pointer;
  font-size: 1rem;
  background-color: #5b7477;
  color: white;
  width: 5rem;
  text-align: center;
  border-radius: 5px;
}

#icon {
  width: 20rem;
  border-radius: 50%;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .2);
}

/* Modal Animation Section */

@keyframes animatemodal {
  from {
      top: -300px;
      opacity:0;
  }

  to {
      top: 50%;
      opacity: 1;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem 2rem;
    margin: 0;
  }

  .social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .signs {
    margin-left: auto; /*clap clap clap */
  }

  .location {
    margin: 0 auto; /*clap clap clap */
  }

  .popupContainer {
    height: 80vh;
    width: 35vh;
  }

  #icon {
    width: 14rem;
  }

  #modal {
    text-align: center;
    height: 65vh;
  }
}